html,body{
    margin:0;
    height:100%;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
}
.myCanvas{
    border:solid black 1px;
    background-image:url(images/shapes.png);
}

.square{
    position: absolute 85 300;
    width: 108px;
    height: 108px;
    border:5px black;

}
.circle{
    
}
.line{
 
    
}
.star{
 
}
.shape{
    
}