html,body{
    margin:0;
    height:100%;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
}
canvas{
    border:1px solid black;
    background-image:url(week_3/images/shapes.png);
}

.square{
    position: absolute 85 300;
    width: 108px;
    height: 108px;
    border:5px black;

}
.circle{
    
}
.line{
    border:5px rgb(255, 0, 0);
    
}
.star{
 
}
.shape{
    
}